body {
  padding: 100px;
}
.box-group p {
  margin: 10px;
  font-family: cursive;
}

.box {
  color: black;
  padding: 1em;
  text-align: start;
  height: 50px;
  width: 75px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.base {
  background-color: #0000ff;
}

.important {
  background-color: #000066;
}

.warning {
  background-color: #00ffff;
}

.principal-font .secondary-font {
  font-size: 16px;
  font-family: "Comic Sans MS", monospace;
}

.shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afa2a6;
  box-shadow: 8px 8px 10px black;
}
